.menu {
  color: var(--secundary);
  position: absolute;
  top: 1rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  height: 90vh;
  padding: 1rem 0;
}

@media(max-width: 720px){
  .menu {
    height: 84vh;
  }
}

.logo {
  width: 4rem;
  height: auto;
  margin-bottom: 2rem;
  opacity: 70%;
  transition: all .3s ease-in-out;
}

.logo button {
  color: transparent;
}

.logo:hover {
  opacity: 100%;
  transform: rotate(180deg);
} 


.blog {
  fill: var(--secundary-30);
  color: var(--secundary-30);
  width: 2.5rem;
  height: auto;
  opacity: 0% /*50%*/;
  text-align: center;
  transition: all .3s ease-in-out;
}

.blog p {
  font-family: 'Stoke';
  font-size: .8rem;
  margin: 0;
}

.blog:hover {
  opacity: 75%;
} 

.menu__icon {
  display: flex;
  flex-direction: column;
  height: 100%;    
  justify-content: center;
}

.menu__icon a {
  fill: var(--secundary);
  color: var(--secundary);
  opacity: 50%;
  transition: all .3s ease-in-out;
}
.menu__icon a:hover {
  opacity: 100%;
}

.menu__icon svg {
  width: 2.5rem;
  height: auto;
}

.menu__page {
  display: flex;
  flex-direction: column;    
  text-align: center;
}

.menu__page a {
  font-size: 1.3rem;
  font-weight: 900;
  opacity: 50%;
  transition: all .3s ease-in-out;
}

.menu__page a:hover {
  opacity: 100%;
}

.player {
  width: 2rem;
  height: 4rem;
  background: transparent;
  border: none;
}